* {
  margin: 0;
  padding: 0;
}

#card-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: auto;
    border: 1px solid black;
}

#card-container > .row {
    border: 1px solid green;
    background-color: pink;
}

#card-container > .row > .grid {
    border: 1px solid green;
    background-color: pink;
}

.title_top {
    display: flex;
    justify-content: center;
    margin: 30px;
    border-top: 30px;
    font-size: 26px;
}

#dialogue_buttons {
    display: flex;
    justify-content: center; 
    margin: 30px;   
}