* {
  margin: 0;
  padding: 0;
}

.header{
    display: flex;
    margin: 15px;
}

.title_top {
    display: flex;
    justify-content: center;
    margin: 30px;
    border-top: 10px;
    font-size: 26px;
}

#card-container {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: rgb(248, 204, 210);
}

#card-container > .column > .square {
    margin: 15px;
    text-align: center;
}

#dialogue_buttons {
    display: flex;
    justify-content: center; 
    margin: 30px;   
}

.button-container{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 20px;
}