* {
  margin: 0;
  padding: 0;
}

.header{
    display: flex;
}



.title_top {
    display: flex;
    justify-content: center;
    margin: 30px;
    border-top: 30px;
    font-size: 26px;
}

#card-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: auto;
    border: 1px solid black;
}

#card-container > .column {
    border: 1px solid green;
    background-color: pink;
}

#card-container > .column > .square {
    border: 1px solid green;
    background-color: pink;
    text-align: center;
}

#dialogue_buttons {
    display: flex;
    justify-content: center; 
    margin: 30px;   
}

.title{
    font-size: 20px;
}